// 
.content-2-nam__bg(style="\
background-image: url('../img/af3ff696-vinfast-suv-sedan-paris-debuts-43.webp');\
")
  .container
    .nam-content__block
      .img__block
        img(src='../img/Lux-Sa2.0.webp' alt='')
      h1 Trải nghiệm đẳng cấp xe Việt
      .nam-reg__btn
        button ĐĂNG KÝ LÁI THỬ
// 
.content-2-black-bg
  .container
    .color__sect
      .color-content__block
        h2 Giới thiệu Lux SA2.0
        p
          | Đoạn giới thiệu ngắn gọn về dòng xe. Similique minima magni quidem
          | aliquid illo sequi Similique minima magni quidem aliquid illo
          | sequi Similique minima magni quidem aliquid illo sequi
      .color-item__block
        .img-content__block(data-id='1')
          img(src='../img/bac.webp' alt='')
        .img-content__block(data-id='2')
          img(src='../img/cam-1.webp' alt='')
        .img-content__block(data-id='3')
          img(src='../img/den-1.webp' alt='')
        .img-content__block(data-id='4')
          img(src='../img/do-1.webp' alt='')
        .img-content__block(data-id='5')
          img(src='../img/nau-1.webp' alt='')
        .img-content__block(data-id='6')
          img(src='../img/nham.webp' alt='')
        .img-content__block(data-id='7')
          img(src='../img/trang-1.webp' alt='')
        .img-content__block(data-id='8')
          img(src='../img/xanh-2.webp' alt='')
      .color-nav__block
        .big__block
          .small__block
            .color-btn__block
              button#1.color-btn1.id-btn
            .color-btn__block
              button#2.color-btn2
          .small__block
            .color-btn__block
              button#3.color-btn3
            .color-btn__block
              button#4.color-btn4
        .big__block
          .small__block
            .color-btn__block
              button#5.color-btn5
            .color-btn__block
              button#6.color-btn6
          .small__block
            .color-btn__block
              button#7.color-btn7
            .color-btn__block
              button#8.color-btn8

//- Code ở trên
script(type="module" src="../js/content-2-nam.js") 