.content3
  .video-container
    iframe(src='https://www.youtube.com/embed/PozDqxu1eK0' frameborder='0')
  .ngoaithat-container
    .ngoaithat-container-row
      .ngoaithat-description
        h1 NGO&#x1EA0;I TH&#x1EA4;T
        h1 SUV VINFAST LUX SA2.0
        p
          | Vinfast Lux SA 2.0 c&oacute; thi&#x1EBF;t k&#x1EBF; to cao v&agrave; b&#x1EC1; th&#x1EBF; trong b&#x1ED9; khung g&#x1EA7;m c&#x1EF1;c k&#x1EF3; sang tr&#x1ECD;ng v&#x1EDB;i k&iacute;ch th&#x1B0;&#x1EDB;c
          | t&#x1ED5;ng th&#x1EC3; l&#x1EA7;n l&#x1B0;&#x1EE3;t l&agrave; 4940 x 1960 x 1773 mm v&#x1EDB;i tr&#x1ECD;ng l&#x1B0;&#x1EE3;ng 2100 kg. S&#x1EDF; h&#x1EEF;u di&#x1EC7;n m&#x1EA1;o &#x1EA5;n t&#x1B0;&#x1EE3;ng v&#x1EDB;i l&#x1B0;&#x1EDB;i
          | t&#x1EA3;n nhi&#x1EC7;t c&#x1EE1; l&#x1EDB;n mang &yacute; t&#x1B0;&#x1EDF;ng c&#x1EE7;a ru&#x1ED9;ng b&#x1EAD;c thang c&#x1EE7;a Vi&#x1EC7;t nam. Logo h&igrave;nh ch&#x1EEF; V c&#x1EE7;a th&#x1B0;&#x1A1;ng hi&#x1EC7;u VinFast
          | &dstrok;&#x1B0;&#x1EE3;c b&#x1ED1; tr&iacute; &#x1EDF; gi&#x1EEF;a &dstrok;&#x1B0;&#x1EE3;c ph&#x1EE5; h&#x1ECD;a b&#x1EDF;i 2 m&#x1EA3;nh &dstrok;&egrave;n LED &dstrok;&#x1ED5; xu&#x1ED1;ng. Ph&#x1EA7;n n&#x1EAF;p cap&ocirc; c&oacute; thi&#x1EBF;t k&#x1EBF; thon d&agrave;i v&#x1EDB;i nh&#x1EEF;ng
          | &dstrok;&#x1B0;&#x1EDD;ng g&acirc;n n&#x1ED5;i t&#x1EA1;o d&aacute;ng t&#x1B0;&#x1A1;ng t&#x1EF1; c&aacute;c d&ograve;ng xe BMW.
      .ngoaithat-img
        img(src='../../img/Vinfast-Lux-SA-2-litres-02-2.webp' alt='djtme cuoc doi')
    .ngoaithat-container-row
      .ngoaithat-img
        img(src='../../img/Vinfast-Lux-SA-2-litres-04-1.webp' alt='djtme cuoc doi')
        p
          | M&#x1EAB;u xe g&#x1EA7;m cao s&#x1EDF; h&#x1EEF;u thi&#x1EBF;t k&#x1EBF; ngo&#x1EA1;i th&#x1EA5;t m&#x1EA1;nh m&#x1EBD; nh&#x1B0;ng kh&ocirc;ng k&eacute;m ph&#x1EA7;n thanh l&#x1ECB;ch v&agrave; s&#x1EAF;c s&#x1EA3;o. M&#x1EB7;t ca-l&abreve;ng n&#x1ED5;i b&#x1EAD;t
          | v&#x1EDB;i d&#x1EA3;i &dstrok;&egrave;n LED &dstrok;&#x1ECB;nh v&#x1ECB; m&#x1ECF;ng &dstrok;ang tr&#x1EDF; th&agrave;nh xu h&#x1B0;&#x1EDB;ng, k&#x1EBF;t h&#x1EE3;p v&#x1EDB;i d&#x1EA3;i chi&#x1EBF;u s&aacute;ng ch&#x1EEF; V &ocirc;m l&#x1EA5;y l&#x1B0;&#x1EDD;i t&#x1EA3;n nhi&#x1EC7;t v&agrave; logo
          | Vinfast m&#x1EA1; chrome &dstrok;&#x1EA7;y ph&aacute; c&aacute;ch. &Dstrok;&acirc;y c&utilde;ng l&agrave; chi ti&#x1EBF;t &dstrok;&#x1EB7;c tr&#x1B0;ng gi&uacute;p nh&#x1EAD;n di&#x1EC7;n m&#x1EAB;u xe sang c&#x1EE7;a Vinfast tr&ecirc;n &dstrok;&#x1B0;&#x1EDD;ng.
      .ngoaithat-img
        img(src='../../img/VinFast-LUX-SA2.0-SUV-12-e1538567857419.webp' alt='djtme cuoc doi')
        p
          | Ph&#x1EA7;n &dstrok;u&ocirc;i xe c&utilde;ng l&agrave; &dstrok;i&#x1EC3;m nh&#x1EA5;n ch&iacute;nh trong ng&ocirc;n ng&#x1EEF; thi&#x1EBF;t k&#x1EBF; c&#x1EE7;a Lux SA2.0. Khu v&#x1EF1;c n&agrave;y n&#x1ED5;i b&#x1EAD;t v&#x1EDB;i c&#x1EE5;m &dstrok;&egrave;n h&#x1EAD;u LED v&#x1EDB;i hai
          | d&#x1EA3;i chi&#x1EBF;u s&aacute;ng m&#x1ECF;ng &dstrok;&#x1B0;&#x1EE3;c k&eacute;o d&agrave;i &dstrok;&#x1EBF;n khu v&#x1EF1;c trung t&acirc;m v&agrave; vu&#x1ED1;t xu&#x1ED1;ng l&agrave;m n&#x1ED5;i b&#x1EAD;t logo ch&#x1EEF; V. Chi ti&#x1EBF;t n&agrave;y t&#x1EA1;o s&#x1EF1; th&#x1ED1;ng nh&#x1EA5;t
          | trong t&#x1ED5;ng th&#x1EC3; c&#x1EE7;a xe, gi&uacute;p Lux SA tr&#x1EDF; n&ecirc;n h&agrave;i h&ograve;a, li&#x1EC1;n l&#x1EA1;c v&agrave; t&#x1EA1;o &dstrok;&#x1B0;&#x1EE3;c n&eacute;t &dstrok;&#x1EB7;c tr&#x1B0;ng ri&ecirc;ng so v&#x1EDB;i nh&#x1EEF;ng m&#x1EAB;u SUV kh&aacute;c tr&ecirc;n
          | th&#x1ECB; tr&#x1B0;&#x1EDD;ng.
  .noithat-container
    .noithat-container-row
      .noithat-img
        img(src='../../img/af3ff696-vinfast-suv-sedan-paris-debuts-43.webp' alt='djtme cuoc doi')
      .noithat-description
        h1 N&#x1ED8;I TH&#x1EA4;T
        h1 SUV VINFAST LUX SA2.0
        p
          | Vinfast Lux SA 2.0 c&oacute; thi&#x1EBF;t k&#x1EBF; to cao v&agrave; b&#x1EC1; th&#x1EBF; trong b&#x1ED9; khung g&#x1EA7;m c&#x1EF1;c k&#x1EF3; sang tr&#x1ECD;ng v&#x1EDB;i k&iacute;ch th&#x1B0;&#x1EDB;c t&#x1ED5;ng th&#x1EC3; l&#x1EA7;n l&#x1B0;&#x1EE3;t l&agrave; 4940 x 1960
          | x 1773 mm v&#x1EDB;i tr&#x1ECD;ng l&#x1B0;&#x1EE3;ng 2100 kg. S&#x1EDF; h&#x1EEF;u di&#x1EC7;n m&#x1EA1;o &#x1EA5;n t&#x1B0;&#x1EE3;ng v&#x1EDB;i l&#x1B0;&#x1EDB;i t&#x1EA3;n nhi&#x1EC7;t c&#x1EE1; l&#x1EDB;n mang &yacute; t&#x1B0;&#x1EDF;ng c&#x1EE7;a ru&#x1ED9;ng b&#x1EAD;c thang c&#x1EE7;a Vi&#x1EC7;t nam.
          | Logo h&igrave;nh ch&#x1EEF; V c&#x1EE7;a th&#x1B0;&#x1A1;ng hi&#x1EC7;u VinFast &dstrok;&#x1B0;&#x1EE3;c b&#x1ED1; tr&iacute; &#x1EDF; gi&#x1EEF;a &dstrok;&#x1B0;&#x1EE3;c ph&#x1EE5; h&#x1ECD;a b&#x1EDF;i 2 m&#x1EA3;nh &dstrok;&egrave;n LED &dstrok;&#x1ED5; xu&#x1ED1;ng. Ph&#x1EA7;n n&#x1EAF;p cap&ocirc; c&oacute; thi&#x1EBF;t k&#x1EBF; thon
          | d&agrave;i v&#x1EDB;i nh&#x1EEF;ng &dstrok;&#x1B0;&#x1EDD;ng g&acirc;n n&#x1ED5;i t&#x1EA1;o d&aacute;ng t&#x1B0;&#x1A1;ng t&#x1EF1; c&aacute;c d&ograve;ng xe BMW.
    .noithat-container-row
      .noithat-img
        img(src='../../img/Vinfast-Lux-SA-2-litres-02-2.webp' aalt='djtme cuoc doi')
        h2 T&Iacute;NH N&Abreve;NG AN TO&Agrave;N LUX SA2.0
        p
          | VinFast &dstrok;&atilde; l&agrave;m ch&#x1EE7; &dstrok;&#x1B0;&#x1EE3;c c&ocirc;ng &dstrok;o&#x1EA1;n s&#x1EA3;n xu&#x1EA5;t th&acirc;n v&#x1ECF; xe SUV LUX SA 2.0 &dstrok;&#x1EA7;u ti&ecirc;n v&#x1EDB;i ch&#x1EA5;t l&#x1B0;&#x1EE3;ng d&#x1EAD;p v&agrave; h&agrave;n &dstrok;&#x1EA1;t ti&ecirc;u chu&#x1EA9;n qu&#x1ED1;c t&#x1EBF;. Th&acirc;n
          | v&#x1ECF; xe VinFast LUX SA 2.0 bao g&#x1ED3;m h&#x1A1;n 1.000 t&#x1EA5;m d&#x1EAD;p &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c ho&agrave;n thi&#x1EC7;n th&agrave;nh c&ocirc;ng t&#x1EA1;i nh&agrave; m&aacute;y VinFast. &Dstrok;&acirc;y l&agrave; m&#x1ED9;t trong nh&#x1EEF;ng ph&#x1EA7;n quan
          | tr&#x1ECD;ng nh&#x1EA5;t c&#x1EE7;a chi&#x1EBF;c xe, quy&#x1EBF;t &dstrok;&#x1ECB;nh &dstrok;&#x1ED9; an to&agrave;n khi x&#x1EA3;y ra va &dstrok;&#x1EAD;p &dstrok;&#x1EA3;m b&#x1EA3;o c&aacute;c t&uacute;i kh&iacute; &dstrok;&#x1B0;&#x1EE3;c k&iacute;ch ho&#x1EA1;t k&#x1ECB;p th&#x1EDD;i. VinFast &dstrok;&atilde; &dstrok;&#x1EA1;t c&aacute;c ch&#x1EEF;ng
          | ch&#x1EC9; an to&agrave;n ASEAN NCAP 5 sao v&#x1EDB;i c&aacute;c b&agrave;i ki&#x1EC3;m tra kh&#x1EAF;t khe nh&#x1EA5;t.
      .noithat-img
        img(src='../../img/Vinfast-Lux-SA-2-litres-02-2.webp' alt='djtme cuoc doi')
        h2 &Dstrok;&#x1ED8;NG C&#x1A0; V&Agrave; V&#x1EAC;N H&Agrave;NH
        p
          | VinFast LUX SA2.0 v&agrave; LUX A2.0 &dstrok;&#x1EC1;u s&#x1EED; d&#x1EE5;ng chung &dstrok;&#x1ED9;ng c&#x1A1; x&abreve;ng t&abreve;ng &aacute;p 2.0L t&#x1EEB; n&#x1EC1;n t&#x1EA3;ng c&#x1EE7;a BMW N20. Tuy nhi&ecirc;n, b&#x1EA3;n SUV s&#x1EBD; ch&#x1EC9; cho m&#x1ED9;t m&#x1EE9;c
          | c&ocirc;ng su&#x1EA5;t 227 m&atilde; l&#x1EF1;c v&agrave; m&ocirc;-men xo&#x1EAF;n c&#x1EF1;c &dstrok;&#x1EA1;i &dstrok;&#x1EA1;t 350 Nm. S&#x1EE9;c m&#x1EA1;nh truy&#x1EC1;n &dstrok;&#x1EBF;n b&aacute;nh sau (RWD) ho&#x1EB7;c 4 b&aacute;nh (AWD) th&ocirc;ng qua h&#x1ED9;p s&#x1ED1; t&#x1EF1; &dstrok;&#x1ED9;ng ZF
          | 8 c&#x1EA5;p. Nh&#x1EDD; &dstrok;&oacute;, VinFast LUX SA2.0 ch&#x1EC9; m&#x1EA5;t 8,9 gi&acirc;y &dstrok;&#x1EC3; t&abreve;ng t&#x1ED1;c t&#x1EEB; 0-100km/h &dstrok;&#x1ED1;i v&#x1EDB;i b&#x1EA3;n RWD v&agrave; 9,1 gi&acirc;y &dstrok;&#x1ED1;i v&#x1EDB;i b&#x1EA3;n AWD. C&#x1EA3; hai m&#x1EAB;u VinFast
          | LUX A2.0 v&agrave; LUX SA2.0 &dstrok;&#x1EC1;u c&oacute; h&#x1EC7; th&#x1ED1;ng treo &dstrok;&#x1ED9;c l&#x1EAD;p bao g&#x1ED3;m &#x1EDF; ph&iacute;a tr&#x1B0;&#x1EDB;c l&agrave; lo&#x1EA1;i 2 &dstrok;&ograve;n treo v&#x1EDB;i c&agrave;ng ch&#x1EEF; A d&#x1B0;&#x1EDB;i lo&#x1EA1;i 2 tr&#x1EE5;c v&agrave; c&oacute; thanh t&abreve;ng
          | c&#x1EE9;ng, h&#x1EC7; th&#x1ED1;ng treo b&#x1EB1;ng nh&ocirc;m; &#x1EDF; ph&iacute;a sau, lo&#x1EA1;i 5 thanh n&#x1ED1;i c&oacute; r&ocirc; tuyn kh&#x1EDB;p c&#x1EA7;u v&agrave; thanh c&acirc;n b&#x1EB1;ng d&#x1EA1;ng &#x1ED1;ng.
  .img-text
    h2 H&Igrave;NH &#x1EA2;NH LUX SA2.0
  .container-fluid
  .row.mt-2
    .item.col-sm-6.col-md-4.mb-3
      a.fancybox(href='../../img/VinFast-LUX-SA2.0-SUV-12-e1538567857419.webp' data-fancybox='' gallery1='')
        img.img-showcase(src='../../img/VinFast-LUX-SA2.0-SUV-12-e1538567857419.webp' alt='')
    .item.col-sm-6.col-md-4.mb-3
      a.fancybox(href='../../img/Vinfast-Lux-SA-2-litres-02-2.webp' data-fancybox='' gallery1='')
        img.img-showcase(src='../../img/Vinfast-Lux-SA-2-litres-02-2.webp' alt='')
    .item.col-sm-6.col-md-4.mb-3
      a.fancybox(href='../../img/Vinfast-Lux-SA-2-litres-04-1.webp' data-fancybox='' gallery1='')
        img.img-showcase(src='../../img/Vinfast-Lux-SA-2-litres-04-1.webp' alt='')
  //- .img-container
  //-   .block-img-showcase
  //-     img.img-showcase(src='../../img/VinFast-LUX-SA2.0-SUV-12-e1538567857419.webp' alt='djtme cuoc doi')
  //-   .block-img-showcase
  //-     img.img-showcase(src='../../img/Vinfast-Lux-SA-2-litres-02-2.webp' alt='djtme cuoc doi')
  //-   .block-img-showcase
  //-     img.img-showcase(src='../../img/Vinfast-Lux-SA-2-litres-04-1.webp' alt='djtme cuoc doi')
    //
      <div class="block-img-showcase"></div>
      <div class="block-img-showcase"></div>
      <div class="block-img-showcase"></div>