.foot-bg(style="background-image: linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.5)), url(../../img/Vinfast-Lux-SA-2-litres-04-1.webp)")
  .container
    .foot
      .foot-logo
        .img-block
          a(href='#')
            img(src='../img/logo-vinfast.webp' alt='')
      .vin-dn
        .vin-dn-content
          h1.heading-dn Vinfast &Dstrok;&#x1ED3;ng Nai
          ul.list-info-dn
            li.item-info-dn &Dstrok;&#x1ECB;a ch&#x1EC9;
            li.item-info-dn S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0943458892
            li.item-info-dn
              | Email: vinfastvn.official@gmail.com
      .another-info
        .another-content
          h1.heading-dn Th&ocirc;ng tin kh&aacute;c
          ul.list-info-ano
            li.item-info-ano
              a.link-info-ano(href='#') B&#x1EA3;ng gi&aacute; xe
            li.item-info-ano
              a.link-info-ano(href='#') Th&#x1EE7; t&#x1EE5;c &dstrok;&abreve;ng k&yacute;
            li.item-info-ano
              a.link-info-ano(href='#') V&#x1EC1; &dstrok;&#x1EA7;u trang
