.nav-bg
  .container
    .nav
      .nav-logo
        a(href='#')
          img(src='../img/logo-vinfast.webp' alt='')
      .nav-menu
        ul.nav-menu-list
          li.nav-menu-item-bord
            a.nav-menu-link(href='#')
              | Fadil
          li.nav-menu-item-bord
            a.nav-menu-link(href='#')
              | LuxA2.0
          li.nav-menu-item-bord
            a.nav-menu-link(href='#')
              | LuxSA2.0
          li.nav-menu-item
            a.nav-menu-link(href='#')
              | Li&ecirc;n h&#x1EC7;
        .btn-menu
          button.btn
            a(href='#')
              | &Dstrok;&Abreve;NG K&Yacute; L&Aacute;I TH&#x1EEC;