.foot-bg{
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
}
.container {
	max-width: 1320px;
	margin: 0 auto;
}
.foot {
	height: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.foot-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
}
.img-block {
	width: 70%;
	img {
		display: block;
		height: 100%;
		width: 100%;
	}
}
.vin-dn {
	width: 33%;
	height: auto;
	// border-left: white solid 0.5px;
	// border-right: white solid 0.5px;
	padding: 3rem 3rem;
}
.heading-dn {
	color: white;
	font-size: x-large;
}
.list-info-dn {
	color: white;
}
.item-info-dn {
	list-style-type: none;
	list-style: circle;
}
.another-info {
	width: 33%;
	height: auto;
	padding: 0rem 3rem;
}
.item-info-ano {
	list-style-type: none;
	list-style-type: square;
	color: white;
	transition: 0.3s;
}
.link-info-ano {
	text-decoration: none;
	color: white;
	transition: 0.3s;
	&:hover {
		color: red;
	}
}
@media (max-width: 850px) {
	.foot {
		height: 45rem;
		display: flex;
		flex-direction: column;
	}
	.foot-logo {
		display: flex;
		height: auto;
		width: 80%;
		align-items: center;
		justify-items: center;
		margin: 2rem 2rem;
	}
	.img-block {
		display: block;
		width: 50%;
	}
	.vin-dn {
		display: none;
		display: flex;
		height: auto;
		width: 100%;
		align-items: flex-end;
		justify-items: flex-start;
		border: none;
	}
	.another-info {
		display: none;
		display: flex;
		align-items: flex-start;
		justify-items: flex-end;
		width: 100%;
	}
}
